@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

$font-primary: "Lato", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-title: "Lato";
$color-primary: #ff6d00;
$color-primary-light: #fffc00;
$background-color: #fff;
$background-grey: #F2F2F2;
$text-color-clear: #fff;
$text-color-dark: #111;
$text-color-secondary-dark: rgba(51,51,51,0.6);
$day-card-background : rgba(0, 153, 255, 0.5);
