#main{
  .imgPresentation{
    width : 100%;
    margin-bottom : 100px;
    .imgPresentation img{
      width: 100%;
    }
  }
  .sectionTitle{
    width: 820px;
    height: 60px;
    margin-bottom: 40px;
    border-bottom: 2px solid;
    .title{
      font-size: 2em;
      line-height: 20%;
      padding-right: 20px;
    }
  }
  .imagesFormat{
    width: 500px;
    margin-bottom: 20px;
    .formatPortrait{
      width: 100px;
      border: thin solid;
      border-radius: 10%;
      text-align: center;
    }
    .formatSquare{
      width: 100px;
      border: thin solid;
      border-radius: 10%;
      text-align: center;
    }
    .formatAll{
      width: 100px;
      border: thin solid;
      border-radius: 10%;
      text-align: center;
    }
  }
  .portrait{
    width: 282px;
    height: 419px;
  }
  .square{
    width: 285px;
    height: 285px;
  }
}

// @media screen and (max-width : 960px){
//
//   .collection{
//     width: 100%;
//     display: flex;
//   	flex-direction: column;
//   	align-items: center;
//     margin-bottom: 30px;
//   }
//
//   .imagesFormat{
//     height: 100%;
//     display: flex;
//   	flex-flow: column nowrap;
//   	align-items: center;
//   }
// }
