html{
   background-color: white;
}
main{
   background-color: white;
}
.imgPresentation{
  width : 100%;
  margin-bottom : 100px;
}

.imgPresentation img{
  width: 100%;
}

/* INFOS */

.mosaique_div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.infosContainer{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
}

.infosContainer img{
  width: 350px;
}

.bloc img{
  width: 30%;
}

#infosTitle{
  text-align: center;
}

.textBiographique{
  font-size: 25px;
}

.infosContainer{
  display: flex;
  justify-content: space-around;
}

.infos img{
  width: 30%;
}

.txtinformation{
    border-left: 1px solid black;
    margin: 20px;
    padding-left: 20px;
    font-size: 18px;
    width: 70%;
}

.buttonPortraitArtiste{
  width: 130px;
  height: 50px;
  border-radius: 25%;
  border: 1px solid grey;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonPortraitArtiste a{
  color: grey;
  text-decoration: none;
  font-size: 13px;
}

/* MOSAÏQUE */

.color{
  background-color: #FFE099;
  margin-top: 100px;
  margin-right: 100px;
  width: 550px;
  height: 550px;
  margin: 0 auto;
  transform: rotate(45deg);

}

div#block{
  height: 100px;
  margin-bottom: 30px;
}

/* div.mosaique{
  width: 560px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  transform: rotate(-45deg);
  position: relative;
} */

div.mosaique{
  width: 80%;
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* transform: rotate(-45deg); */
  position: relative;
}

div.mosaique img{
  width: 24%;
  margin : 15px;
  transition: opacity 2s;
  opacity: 1;
}

div.transparence{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  left: 55px;
  display: none;
}
div.mosaique:hover div.transparence{
  display: block;
}

a.linkButtons{
  position: absolute;
  width: 310px;
  height: 40px;
  text-align: center;
  padding-top: 7px;
  border: thin solid white;
  border-radius: 35px;
  color: black;
  text-decoration: none;
  display: block;
  background-color : #DADADA;
  z-index: 3;
  font-size: 1.25em;
}

div.mosaique:hover a{
  display: block;
}
div.mosaique:hover a:hover{
  background-color: white;
  color: black;
}

/* MON UNIVERS */

.monUniversBloc{
  margin-top: 200px;
  margin-bottom: 100px;
  width : 100%;
  height: 400px;
  background-color: #fae1a2;
  display: flex;
  justify-content: center;
}

/* CONTACT */
footer{
  margin-top: 160px;
}


.contact{
  width :100%;
  height: 400px;
  background-color: #aec7d1;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.contactTxt{
  margin : 50px;
  text-align: right;
}


.formulaireTxt{
  margin: 50px;
}

.formulaireTxt input{
  width : 40%;
  height: 40px;
  border-radius:10px;
  box-shadow:1px 1px 2px #aec7d1 inset;
  border : 1px solid grey;
  margin-right: 50px;
  padding: 5px;
}
#send{
  background-color: #aec7d1;
  color : white;
  border : 0px;
  width: 15%;
  margin-top: 10px;
}

.formulaireTxt textarea{
  width : 86%;
  box-shadow:1px 1px 2px #C0C0C0 inset;
  border : 1px solid grey;
  margin-top: 30px;
  color : grey;

}

.space{
  height: 250px;
}

.responsive_img{
  height: 0px;
  visibility: hidden;
}

@media all and (min-width: 250px) and (max-width: 800px){

  html{
    width: 100%;
    height: 100%;
  }

  p{
    font-size: 20px;
  }

  .infosContainer {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .infosContainer img{
    width: 100%;
  }


 .responsive_img{
   visibility: hidden;
   width: 100%;
   height: auto;
 }

 div.infos{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 div.txtinformation{
   width: 80%;
   border-left: none;
 }

 .infos Img{
   width: 40%;
  height: auto;
 }

 div.mosaique {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative
 
 }

 .mosaique_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 }

 div.mosaique img{
   width: 24%;
   margin: 5px;
   transition: opacity 2s;
 }

/*  div.mosaique{
   visibility: visible;
   width: 0px;
   height: auto;
 }

 div.mosaique img{
   visibility: hidden;
   width: 0px;
   height: auto;
 }

 div.transparence{
   visibility: hidden;
   width: 0px;
   height: auto;
 }
 div.mosaique:hover div.transparence{
   visibility: hidden;
   width: 0px;
   height: auto;
 }

 a.linkButtons{
   visibility: hidden;
   width: 0px;
   height: auto;
 }

 div.mosaique:hover a{
   visibility: hidden;
   width: 0px;
   height: auto;
 }
 div.mosaique:hover a:hover{
   visibility: hidden;
   width: 0px;
   height: auto;

 }
.mosaique_div{
   visibility: hidden;
   width: 0px;
   height: auto;
   
 } */
}
