main{
  color: black;

}
#infosTitle_portrait{
 font-size: 2em;
}

.infos_portrait{
  display: flex;
  justify-content: space-around;
}

.infosContainer_portrait{
  width: 70%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.infos_portrait img{
  width : 250px;
  height: 350px;
  margin : 50px;
}

.line_decoration{
  border-bottom: solid 1px;
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

<<<<<<< HEAD

=======
>>>>>>> 4b515d0a784042877d69446c62281ea8eb9195a6
.contentUnivers{
  width : 70%;
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 80px;
}

.contentUnivers img{
  width : 210px;
  height: 312px;
}
.txtUnivers{
    border-left: 1px solid black;
    margin : 20px;
    padding-left : 20px;
    width: 70%;
}

.imgUnivers{
  height: 312px;
  width: 210px;
}

.img1{
  opacity: 1;
}


/* Bouton déroulant */

#divbouton {
	overflow: hidden;
	height: 0;
	margin-top: 10px;
	color:black;
	transition: height .4s ease;
}

.title_infos{
  width: 36%;
  display: flex;
  justify-content: center;
  padding-right: 1px;
}

.text_bio{
  width: 70%;
}

.text1_portrait{
  display: flex;
  justify-content: center;
  width: 100%;
}


@media screen and (max-width : 790px){
   .line_decoration{
     width: 70%;
   }

<<<<<<< HEAD
}

  .line_decoration{
    width: 70%;
  }
=======
  .line_decoration{
    width: 70%;
  }
}
>>>>>>> 4b515d0a784042877d69446c62281ea8eb9195a6

@media screen and (max-width : 600px){
  .infos_portrait{
    display: flex;
    flex-direction: column;
  }
  .contentUnivers{
    display: flex;
    flex-direction: column;
  }
  .txtUnivers{
    border-left: none;
  }
  .txtInfos{
    border-left: none;
  }
}
<<<<<<< HEAD

}
=======
>>>>>>> 4b515d0a784042877d69446c62281ea8eb9195a6

/** slider **/
.sliderContainer{
  width : 100%;
  display: flex;
  justify-content: center;
  padding-top: 65px;
}

.slider{
  background-color: white;
  width : 40%;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img{
  opacity: 1;
  width : auto;
  height: 250px;
  position: absolute;
}

.slider img {
  animation: fade-in-out 6s ease infinite 0s;
  opacity: 0;
}
/* définition délai des images */

.slider img:nth-child(1) { animation-delay: 0s;}
.slider img:nth-child(2) { animation-delay: 3s;}
.slider img:nth-child(3) { animation-delay: 6s;}
.slider img:nth-child(4) { animation-delay: 9s;}
.slider img:nth-child(5) { animation-delay: 12s;}
/* définition des étapes */
@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  16.67% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
