main{
  color: black;
  font-size: 18px;
}

#infosTitle_portrait{
 font-size: 2em;
}

.infos_portrait{
  display: flex;
  justify-content: space-around;
}

.infosContainer_portrait{
  width: 70%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.infos_portrait img{
  width : 25%;
  margin : 50px;
}


.line_decoration{
  border-bottom: solid 1px;
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.img-sketch{
  position: absolute;
  transition: opacity .5s ease-in;

}

.img-sketch + .img-sketch{
  opacity: 0;
}
.containerUnivers{
  width: 70%;
  margin: 0 auto;
}

.contentUnivers{
  width : 100%;
  margin: 0 auto;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 80px;
}

.contentUnivers img{
  width: 15%;
}
.txtUnivers{
    border-left: 1px solid black;
    margin : 20px;
    padding-left : 20px;
    width: 188%;
}

.img1{
  opacity: 1;
}


/* Bouton déroulant */

#divbouton {
	overflow: hidden;
	margin-top: 10px;
	color:black;
  transition: height .4s ease;   
}

.title_infos{
  width: 100%;
  text-align: center;
}

h2 p{
  text-align: left;
}

.text_bio{
  width: 70%;
}

.text1_portrait{
  display: flex;
  justify-content: center;
  width: 100%;
}


@media screen and (max-width : 1024px){
  #divbouton{
    display: flex;
    flex-direction: column;
    height: 220px;
  }

  .txtUnivers {
    border-left: 1px solid black;
    margin: 20px;
    padding-left: 20px;
    width: 58%;
}

.contentUnivers img {
  width: 25%;
}

  .containerUnivers {
    width: 100%;
    margin: 0 auto;
}
  .infosContainer_portrait {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}
   .line_decoration{
     width: 100%;
   }

  .line_decoration{
    width: 100%;
  }

  .line_decoration{
    width: 100%;
  }

  .infos_portrait img{
    width : 50%;
  }

  p {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

}

@media screen and (max-width : 600px){
  .text_bio{
    width: 100%;
  }
  p {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #divbouton{
    display: flex;
    flex-direction: column;
    height: 220px;
  }

  .txtUnivers {
    width: 100%;
    padding-left: 0px;
    margin: 0px;
    padding-top: 130px;
    border: none;
}

.contentUnivers img {
  width: 30%;
}

  .containerUnivers {
    width: 100%;
    margin: 0 auto;
}
  .infosContainer_portrait {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

  .infos_portrait{
    display: flex;
    flex-direction: column;
  }

  .contentUnivers{
    display: flex;
    flex-direction: column;
  }
  .txtUnivers{
    border-left: none;
    width: 100%;
  }
  .txtInfos{
    width: 100%;
    margin: 1px;
    border-left: none;
  }
  .infos_portrait img{
    width : 50%;
  }
}

@media screen and (max-width : 1024px){

  h3{
    font-size: 25px;
  }

  .text_bio{
    width: 100%;
  }

  #divbouton{
    display: flex;
    flex-direction: column;
    height: 220px;
  }

  .txtUnivers {
    width: 100%;
    padding-left: 0px;
    margin: 0px;
    padding-top: 130px;
    border: none;
}


  .containerUnivers {
    width: 70%;
    margin: 0 auto;
}

  .infosContainer_portrait {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

  .infos_portrait{
    display: flex;
    flex-direction: column;
  }

  .contentUnivers{
    display: flex;
    flex-direction: column;
  }
  .txtUnivers{
    border-left: none;
    width: 100%;
  }
  .txtInfos{
    width: 100%;
    margin: 1px;
    border-left: none;
  }
  .infos_portrait img{
    width : 50%;
  }
  .img-sketch{
    width: 45%;
  }
}


/** slider **/
.sliderContainer{
  width : 100%;
  display: flex;
  justify-content: center;
  padding-top: 65px;
}

.slider{
  background-color: white;
  width : 40%;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img{
  opacity: 1;
  width : auto;
  height: 250px;
  position: absolute;
}

.slider img {
  animation: fade-in-out 6s ease infinite 0s;
  opacity: 0;
}

// slideshow image placement

.slideshow{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
}


a img.contact_reseau{
  height: 32px;
  width: 32px;
}
